TALEND6_3_TEST/route_resources/wsdls/PartnerService.wsdl_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.homeserve.com/NA/US/PartnerServicev1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PartnerService" targetNamespace="http://www.homeserve.com/NA/US/PartnerServicev1.0/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.homeserve.com/NA/US/PartnerServicev1.0/">
         <xsd:include schemaLocation="schemas/PartnerService.xsd" />
         <!-- Duplicate XSD elements - restrictive to PHP
			 <xsd:element name="getPartnerDetailsRequest" type="tns:getPartnerDetailsRequest"> 
			 <xsd:element name="getPartnerDetailsResponse" type="tns:getPartnerDetailsResponse"> 
			 <xsd:element name="validatePartnerDetailsRequest" type="tns:validatePartnerDetailsRequest"> 
			 <xsd:element name="validatePartnerDetailsResponse" type="tns:validatePartnerDetailsResponse">-->
      </xsd:schema>
      <xsd:schema>
         <xsd:import namespace="http://www.homeserve.com/NA/US/PartnerServicev1.0/" schemaLocation="schemas/PartnerService.xsd" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getPartnerDetailsRequest">
      <wsdl:part name="parameters" element="tns:getPartnerDetailsRequest" />
   </wsdl:message>
   <wsdl:message name="getPartnerDetailsResponse">
      <wsdl:part name="parameters" element="tns:getPartnerDetailsResponse" />
   </wsdl:message>
   <wsdl:message name="SourceSystem">
      <wsdl:part name="SourceSystem" element="tns:SourceSystem" />
   </wsdl:message>
   <wsdl:message name="validatePartnerDetailsRequest">
      <wsdl:part name="parameters" element="tns:validatePartnerDetailsRequest" />
   </wsdl:message>
   <wsdl:message name="validatePartnerDetailsResponse">
      <wsdl:part name="parameters" element="tns:validatePartnerDetailsResponse" />
   </wsdl:message>
   <wsdl:portType name="PartnerServicePortType">
      <wsdl:operation name="getPartnerDetails">
         <wsdl:input message="tns:getPartnerDetailsRequest" />
         <wsdl:output message="tns:getPartnerDetailsResponse" />
      </wsdl:operation>
      <wsdl:operation name="validatePartnerDetails">
         <wsdl:input message="tns:validatePartnerDetailsRequest" />
         <wsdl:output message="tns:validatePartnerDetailsResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PartnerServiceBinding" type="tns:PartnerServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getPartnerDetails">
         <soap:operation soapAction="http://www.homeserve.com/NA/US/PartnerServicev1.0/getPartnerDetails" />
         <wsdl:input>
            <soap:body use="literal" />
            <soap:header use="literal" part="SourceSystem" message="tns:SourceSystem" wsdl:required="true" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
            <soap:header use="literal" part="SourceSystem" message="tns:SourceSystem" wsdl:required="true" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="validatePartnerDetails">
         <soap:operation soapAction="http://www.homeserve.com/NA/US/PartnerServicev1.0/validatePartnerDetails" />
         <wsdl:input>
            <soap:body use="literal" />
            <soap:header use="literal" part="SourceSystem" message="tns:SourceSystem" wsdl:required="true" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
            <soap:header use="literal" part="SourceSystem" message="tns:SourceSystem" wsdl:required="true" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PartnerService">
      <wsdl:port name="PartnerServicePort" binding="tns:PartnerServiceBinding">
         <soap:address location="http://localhost:8090/services/PartnerService" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>